body {
    background-color:gray;
    margin:0 auto;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    padding: 0;
    height:100%;
}
#page {
    width: 80%;
    margin:0 auto;
    background:#FFF;
    padding:15px 20px;
    min-height:1000px;
    height:100%;
    height:auto !important;
}
textarea {
    min-width: 500px;
    min-height:100px;
}

  /* CREATE
-----------------------------------------------------------*/
.green {
    background:green;
}
.left {
    clear:left;
    float:left;
    margin-bottom:20px;
    clear:right;
    padding-right:20px;
}
.sRight {
    padding-left:20px; 
}
.newName {
    float:left;
    padding-right:20px;
}

.title {
    font-weight:bold;
    font-size:1.2em;
    float:left;
    padding-right:20px;
    height:80px;
}
.section{
    margin:5px 0;
    width:100%;
    float:left;
    min-height:50px;
    height:auto;
    clear:right;
}
.smaller {
    height: 50px;
}
.section h3 {
   display:block;
   left:0;
}
input {margin-top:5px; }

select {
     margin:0;
     padding:0;
}
.dropDown {
    margin-top:5px; 
   
}

    /* SongDetails
-----------------------------------------------------------*/
#detailsUL {
    display:block;
    padding:10px;
    list-style-type:none;
}
#detailsUL h3, #kompositör h3 {
    display:inline;
    padding:10px;
    line-height:50px;
 
}
#kompositör { 
    color:#FFF;
    background:#000;
}
#anteckningar {
    width:50%;
    min-width:300px;
    padding:0 10px 25px 15px;
    border-left:1px solid #000;
    float:right;
    margin-bottom:15px;
    margin-right:10px;
    min-height:245px;       
    max-height:100%;
}
#AllDetailsContainer {
    border:1px solid #000;
    height:auto !important;
    min-height:320px;  

    
}


*:focus {
    outline: 0;
}



/* Listing.aspx
-----------------------------------------------------------*/
#allContactsTable a {
    display:block;
    width:100%;
    font-weight:600;
    color:#000;
    height:80px;
    line-height:80px;
}
#allContactsTable a:visited {
    color:#000;
}
#allContactsTable tr:nth-child(even) {
    background:#DAE4F0;
}
#allContactsTable tr:first-child {
     border-left:0;
     border-bottom:2px solid #000;
}
#allContactsTable {
    width:900px;
    border-collapse:collapse;
    width:100%; 
    border-bottom:2px solid #000;
}
#allContactsTable th {
    height:80px; 
    text-align:left;
    line-height:80px;
    
}
.titleRepertoar {
    float:left;
    width:200px;
    height:40px;
    font-size:4.1em;
    line-height:40px;
    font-weight:500;
    padding-top:10px;
}
#allContactsTable tr{
    width:250px;
    padding:25px;
    height:80px;
    border-left:2px solid #000;
}
#allContactsTable td, .HeaderTb{
    text-align:left;
    padding-left:15px;
    
}

#instrument {
    width:110px;
    min-width:110px;
    background:#000;
    color:#FFF;
}

.Name {
    max-width:90%;
    width:600px;
    padding-right:10px;
    text-align:left;
}


/****       KNAPPAR         ****
   ------------------------****/
.button , .buttonBack {
    display:inline-block;
    padding:15px;
    background:#e5ecf9;
    min-width:70px;
    margin:10px 0;
    line-height:15px;
    margin-top:15px;
    text-decoration:none;
    margin-bottom:20px;
    color:#000;
    font-weight:900;
    text-align:center;
    border:1px solid #000;
    border-radius:5px;
    font-size:.8em;
    cursor:pointer;
}
    .button:visited {
        color:#000;
    }
.save {
 background:#ff9900;
 width:150px;
 
}
.buttonBack {
    padding:5px 15px;
    color:#FFF;
    background:#000;
}
hr { 
    clear:both;
}
.right {
    width:110px;
    height:40px;
    line-height:40px;
    float:right;
    background:#ff9900;
    font-size:0.9em;
    margin:0 0 15px 0;
}


    /* Message styles
-----------------------------------------------------------*/
.icon-ok
{
    border: solid 1px #90ac13;
    background: #eef4d3;
    color: #6b800d;
    font-weight: bold;
    text-align: left;
    vertical-align: middle;
    min-height: 42px;
    padding: 10px;
    line-height: 42px;
    vertical-align: middle;
    margin-bottom:.5em;
}
.exit {
    float:right;
    width:70px;
    height:30px;
    font-size:.8em;
    background:#000;
    color:#FFF;
    cursor:pointer;
}

#AllContent {
    margin:0 auto;
    width:900px;
    max-width:95%;
    padding:10px;
    
}

.validation-summary-errors {
     font-weight: bold;
    border: 2px solid gray;
    padding: 20px;
    max-width:400px;
    max-width:100%;
    min-height: 15px;
    margin-top: 15px;
    margin-bottom:15px;
    color:red;
}


